.box {
	display: flex;
    flex-flow: row; nowrap;
    flex-direction:row;
}
.box-1 {
	display: flex;
    flex-flow: column; nowrap;
    flex-direction:column;
}

.one {
        flex: 33.3%;
      }
.two {
        flex: 33.3%;
      }
.three {
        flex: 33.3%;
      }

.box-left {
	position: absolute;
	left:  0px;
	width: 46%;
	padding: 2%;
}

.box-right {
	position: absolute;
	left: 50%;
	width:  46%;
	padding:  2%;
}

body {
	font-family: Optima, sans-serif;
}